@import '~node_modules/modern-normalize/modern-normalize.css';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.howmade {
  padding-top: 62px;
  padding-bottom: 31px;
  text-align: center;
  background-color: rgb(132, 161, 120);
}

.howmade-pretitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #fff;
}

.howmade-title {
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 4%;
  text-transform: uppercase;
  color: #fff;
}

.howmade-img {
  width: 100%;
}

.howmade-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 176%;
  letter-spacing: 4%;
  color: rgb(252, 252, 252);
}

.howmade-list {
  padding-top: 10px;
}

.howmade-item {
  padding-top: 10px;
}

.howmade-numbers {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 4%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 16px;
}

.howmade-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0%;
  text-align: center;
  color: #fff;
}

.svg-item {
  width: 50px;
  height: 50px;
  margin-bottom: 22px;
}

.product {
  margin-top: 60px;
  background-image: url("../images/ice-cream-img/background_1x.jpg");
}

.product-intro-text {
  text-align: center;
  margin-bottom: 120px;
}
@media screen and (min-width: 768px) {
  .product-intro-text {
    margin-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .product-intro-text {
    margin-bottom: 303px;
  }
}

.product-title {
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 36px;
  width: 100%;
}

.product-subtitle {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 30px;
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 163px;
}
@media screen and (min-width: 768px) {
  .product-list {
    flex-direction: row;
    gap: 16px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .product-list {
    gap: 29px;
  }
}

.product-item:first-child {
  width: 100%;
  position: relative;
  padding: 126px 60px 24px;
  background-color: #aec6a5;
  text-align: center;
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .product-item:first-child {
    padding: 108px 26px 12px;
    width: 224px;
    height: 428px;
  }
}
@media screen and (min-width: 1200px) {
  .product-item:first-child {
    padding: 165px 100px 60px;
    width: 370px;
    height: 536px;
  }
}

.product-item:nth-child(2) {
  width: 100%;
  position: relative;
  padding: 126px 60px 24px;
  background-color: #efd478;
  text-align: center;
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .product-item:nth-child(2) {
    padding: 108px 26px 12px;
    width: 224px;
    height: 428px;
  }
}
@media screen and (min-width: 1200px) {
  .product-item:nth-child(2) {
    padding: 165px 100px 60px;
    width: 370px;
    height: 536px;
  }
}

.product-item:nth-child(3) {
  width: 100%;
  position: relative;
  padding: 126px 60px 24px;
  background-color: #d6936d;
  text-align: center;
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .product-item:nth-child(3) {
    padding: 108px 26px 12px;
    width: 224px;
    height: 428px;
  }
}
@media screen and (min-width: 1200px) {
  .product-item:nth-child(3) {
    padding: 165px 100px 60px;
    width: 370px;
    height: 536px;
  }
}

.product-img {
  display: block;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 1200px) {
  .product-img {
    width: 302px;
    height: 302px;
    top: -155px;
  }
}

.product-label {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feedback__user-info {
    font-size: 16px;
  }
}

.footer {
  background-color: #84a178;
  padding-top: 1095px;
  padding-bottom: 20px;
}

.howmade-pretitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #fff;
}

.howmade-title {
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 4%;
  text-transform: uppercase;
  color: #fff;
}

.howmade-img {
  width: 100%;
}

.howmade-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 176%;
  letter-spacing: 4%;
  color: rgb(252, 252, 252);
}

.howmade-list {
  padding-top: 10px;
}

.howmade-item {
  padding-top: 10px;
}

.howmade-numbers {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 4%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 16px;
}

.howmade-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0%;
  text-align: center;
  color: #fff;
}

.svg-item {
  width: 50px;
  height: 50px;
  margin-bottom: 22px;
}/*# sourceMappingURL=index.css.map */