.footer {
  background-color: #84a178;
  padding-top: 1095px;
  padding-bottom: 20px;
  @media screen and (min-width: 480px) {
    padding-top: 1103px;
    padding-bottom: 24px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 360px;
    padding-bottom: 12px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 636px;
    padding-bottom: 12px;
  }
  &__pretitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #fcfcfc;
    margin-bottom: 16px;
    @media screen and (min-width: 768px) {
      font-size: 26px;
      letter-spacing: 4%;
      margin-bottom: 8px;
      width: 352px;
    }
    @media screen and (min-width: 1200px) {
      font-weight: 400;
      font-size: 30px;
      width: 504px;
    }
  }
  &__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 4%;
    text-transform: uppercase;
    color: #fcfcfc;
    width: 200px;
    @media screen and (min-width: 768px) {
      font-size: 48px;
      letter-spacing: 6%;
      width: 352px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 58px;
      width: 497px;
    }
  }
  &__list {
    display: flex;
    justify-content: end;
    gap: 20px;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      gap: 30px;
      margin-bottom: 34px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 40px;
    }
  }
  &__svg {
    width: 34px;
    height: 34px;
  }
  &__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0%;
    text-align: right;
    color: #131313;
    @media screen and (min-width: 768px) {
      font-size: 14px;
    }
    &::after {
      content: '';
      width: 100vw;
      height: 1px;
      display: block;
      background-color: #e1e1e1;
      border: none;
      margin-top: 20px;
      position: absolute;
      left: 0;
      @media screen and (min-width: 768px) {
        margin-top: 32px;
      }
      @media screen and (min-width: 1200px) {
        margin-top: 60px;
      }
    }
    & > span {
      color: #fcfcfc;
    }
  }
  &__copyright {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    letter-spacing: 0%;
    width: 200px;
    text-align: center;
    color: #7a7a7a;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      line-height: 152%;
      letter-spacing: 2%;
      width: 298px;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 32px;
      font-size: 12px;
      line-height: 186%;
    }
  }
}
.title {
  margin-bottom: 60px;
}
.contact {
  text-align: right;
  margin-bottom: 40px;
}
.inf {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    align-items: flex-end;
  }
}
