.howmade {
  padding-top: 62px;
  padding-bottom: 31px;
  text-align: center;
  background-color: rgba(132, 161, 120, 1);
}
.howmade-pretitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #fff;
}
.howmade-title {
  font-family: 'Seymour One', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 4%;
  text-transform: uppercase;
  color: #fff;
}
.howmade-img {
  width: 100%;
}
.howmade-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 176%;
  letter-spacing: 4%;
  color: rgba(252, 252, 252, 1);
}
.howmade-list {
  padding-top: 10px;
}
.howmade-item {
  padding-top: 10px;
}
.howmade-numbers {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 4%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 16px;
}
.howmade-description {
 font-family: "Montserrat",sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 170%;
letter-spacing: 0%;
text-align: center;
  color: #fff;
}
.svg-item{
    width: 50px;
    height: 50px;
    margin-bottom: 22px;
}
