.location {
  background-image: linear-gradient(to top, #84A178 80%, #ffffff 20%);
}
.location__list {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }
}
.location__line {
  margin: 32px 0 32px 0;
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
}
.location__item {
  padding: 40px;
  margin-bottom: 64px;
  border: 1px solid #e1e1e1;
  border-radius: 30px;
  width: 368;
  height: 542;
  left: 16px;
  opacity: 1;
  border-width: 1px;
  border: 1px solid #e1e1e1;
  background-color: white;
}
.location__logo {
  padding: 4px 14px;
  width: 76;
  height: 30;
  top: 40px;
  left: 56px;
  opacity: 1;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 4%;
  text-align: center;
  border-radius: 8px;

  margin-bottom: 32px;
  background-color: #f8d24e;
}
.location__text {
  margin-bottom: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 4%;
  color: #131313;
}
.location__nationality {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 183%;
  letter-spacing: 4%;
  color: #d6936d;
}
.location__mf {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 4%;
  color: #131313;
}
.location__second {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 4%;
  color: #131313;
}
.location__time {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0%;
  color: #ababab;
  margin-bottom: 12px;
}
.location__second__logo {
  width: 148px;
  height: 30px;
}
.location__phone {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #131313;
}
.location__mail {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #131313;
}
.location__button__list {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.location__button {
  border-color: transparent;
  width: 196;
  height: 42;
  border-radius: 10px;
  background-color: #f8d24e;
  color: #131313;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.location__button__item {
}
.location__button__second {
  width: 196;
  height: 42;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid #f8d24e;
  color: #131313;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}