.location {
}
.location__list {
  width: 368;
  height: 542;
  left: 16px;
  opacity: 1;
  border-width: 1px;
  border: 1px solid #e1e1e1;
  background-color: white;
}
.location__item {
  margin-bottom: 64px;
}
.location__title {
  margin-bottom: 32px;
  background-color: #f8d24e;
}
.location__text {
  margin-bottom: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 4%;
  color: #131313;
}
.location__nationality {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 183%;
  letter-spacing: 4%;
  color: #d6936d;
}
.location__mf {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 4%;
  color: #131313;
}
.location__time {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0%;
  color: #ababab;
  margin-bottom: 12px;
}
.location__phone {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #131313;
}
.location__mail {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #131313;
}
.location__button__list {
}
.locatio__button__item {
}
.location__button {
}
.location__button__item {
}
