.product {
  margin-top: 60px;
  background-image: url('../images/ice-cream-img/background_1x.jpg');
}

.product-intro-text {
  text-align: center;
  margin-bottom: 120px;

  @media screen and (min-width: 768px) {
    margin-bottom: 200px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 303px;
  }
}

.product-title {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 36px;
  width: 100%;
}

.product-subtitle {
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 30px;
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 163px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 16px;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    gap: 29px;
  }
}

.product-item:first-child {
  width: 100%;
  position: relative;
  padding: 126px 60px 24px;
  background-color: #aec6a5;
  text-align: center;
  border-radius: 24px;
  @media screen and (min-width: 768px) {
    padding: 108px 26px 12px;
    width: 224px;
    height: 428px;
  }
  @media screen and (min-width: 1200px) {
    padding: 165px 100px 60px;
    width: 370px;
    height: 536px;
  }
}

.product-item:nth-child(2) {
  width: 100%;
  position: relative;
  padding: 126px 60px 24px;
  background-color: #efd478;
  text-align: center;
  border-radius: 24px;

  @media screen and (min-width: 768px) {
    padding: 108px 26px 12px;
    width: 224px;
    height: 428px;
  }

  @media screen and (min-width: 1200px) {
    padding: 165px 100px 60px;
    width: 370px;
    height: 536px;
  }
}

.product-item:nth-child(3) {
  width: 100%;
  position: relative;
  padding: 126px 60px 24px;
  background-color: #d6936d;
  text-align: center;
  border-radius: 24px;

  @media screen and (min-width: 768px) {
    padding: 108px 26px 12px;
    width: 224px;
    height: 428px;
  }

  @media screen and (min-width: 1200px) {
    padding: 165px 100px 60px;
    width: 370px;
    height: 536px;
  }
}

.product-img {
  display: block;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  @media screen and (min-width: 1200px) {
    width: 302px;
    height: 302px;
    top: -155px;
  }
}

.product-label {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 40px;
}

.product-desc {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 176%;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    width: 172px;
  }
}

.product-item:first-child > .product-desc {
  margin-bottom: 50px;
  font-size: 16px;
}

.product-item:nth-child(2) > .product-desc {
  margin-bottom: 56px;
}

.product-item:nth-child(3) > .product-desc {
  margin-bottom: 56px;
}

.product-btn {
  font-size: 34px;
  background-color: transparent;
  border: 0;
}
