<footer class="footer">
<div class="container">
  <div class="inf">
    <div class="title">
      <h3 class="footer__pretitle">homemade ice cream made</h3>
      <h2 class="footer__title">with passion</h2>
    </div>
    <div class="contact">
      <ul class="footer__list">
        <li class="footer__item">
          <a href="" class="footer__link">
            <svg class="footer__svg">
              <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="footer__item">
          <a href="" class="footer__link">
            <svg class="footer__svg">
              <use href="./images/symbol-defs.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__item">
          <a href="" class="footer__link">
            <svg class="footer__svg">
              <use href="./images/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer__text">
        Feel free to contact <span>+61 (0) 383 766 284</span>
      </p>
    </div>
  </div>
  <p class="footer__copyright">© 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
