<section class="header">
  <div class="header__all__div">
    <svg><use href=""></use></svg>
    <ul class="header__list">
      <li class="header__item"><a href="" class="header__link">Home</a></li>
      <li class="header__item">
        <a href="" class="header__link">How it’s made?</a>
      </li>
      <li class="header__item">
        <a href="" class="header__link">Our products</a>
      </li>
      <li class="header__item">
        <a href="" class="header__link">Contact</a>
      </li>
    </ul>
    <button type="button" class="header__button">Buy now</button>
    <svg class="header__icon__button"><use href=""></use></svg>
  </div>
</section>
