<section class="hero">
  <div class="hero__passion__div">
    <h1 class="hero__title">ice cream made with passion</h1>
    <button type="button" class="hero__button">Products</button>
    <a href="#" class="hero__link">How it’s made?</a>
  </div>
  <ul class="hero__list">
    <li class="hero__item">
      <h3 class="hero__pretitle__cafes">16</h3>
      <p class="hero__text__cafes">cafes</p>
    </li>
    <li class="hero__item">
      <h3 class="hero__pretitle__cafes">23</h3>
      <p class="hero__text__cafes">food trucks</p>
    </li>
  </ul>
  <div class="hero__plate__div">
    <!-- <img src="" alt="ice cream plate" /> -->
    <p class="hero__plate__text">
      Indulge in a scoop of ice cream made with passion and treat your taste
      buds to an unforgettable experience!
    </p>
    <!-- <svg class="hero__icon__plate"><use href=""></use></svg> -->
  </div>
  <!-- <img src="" alt="big ice cream"> -->
</section>
