<section class="location">
    <div class="container">
        <ul class="location__list">
            <li class="location__item">
                <h2 class="location__title">CAFE</h2>
                <p class="location__text">Chicago</p>
                <p class="location__nationality"><a href="" class="location__nationality">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a></p>
            </li>
            <li class="location_item">
                <h3 class="location__mf">Monday - Friday</h3>
                <p class="location__time">06:00 AM - 10:00 PM</p>
                <h3 class="location__mf">Saturday - Sunday</h3>
                <p class="location__time">08:00 AM - 16:00 PM</p>
            </li>
            <li class="location_item">
                <h3 class="location__phone">+61(0) 383 766 284</h3>
                <h3 class="location__mail">noreply@envato.com</h3>
            </li>
        </ul>
        <ul class="location__list">
            <li class="location__item">
                <h2 class="location__title">CAFE</h2>
                <p class="location__text">Chicago</p>
                <p class="location__nationality"><a href="" class="location__nationality">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a></p>
            </li>
            <li class="location_item">
                <h3 class="location__mf">Monday - Friday</h3>
                <p class="location__time">06:00 AM - 10:00 PM</p>
                <h3 class="location__mf">Saturday - Sunday</h3>
                <p class="location__time">08:00 AM - 16:00 PM</p>
            </li>
            <li class="location_item">
                <h3 class="location__phone">+61(0) 383 766 284</h3>
                <h3 class="location__mail">noreply@envato.com</h3>
            </li>
        </ul>
        <ul class="location__list">
            <li class="location__item">
                <h2 class="location__title">CAFE</h2>
                <p class="location__text">Chicago</p>
                <p class="location__nationality"><a href="" class="location__nationality">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a></p>
            </li>
            <li class="location_item">
                <h3 class="location__mf">Monday - Friday</h3>
                <p class="location__time">06:00 AM - 10:00 PM</p>
                <h3 class="location__mf">Saturday - Sunday</h3>
                <p class="location__time">08:00 AM - 16:00 PM</p>
            </li>
            <li class="location_item">
                <h3 class="location__phone">+61(0) 383 766 284</h3>
                <h3 class="location__mail">noreply@envato.com</h3>
            </li>
        </ul>
        <ul class="location__button__list">
            <li class="locatio__button__item"><button class="location__button">Our Locations ></button></li>
            <li class="location__button__item"><button class="location__button">Franchise ></button></li>
        </ul>
    </div>
</section>