<section class="location">
  <div class="container">
    <ul class="location__list">
      <li class="location__item">
        <div class="location__logo">CAFE</div>
        <p class="location__text">Chicago</p>
        <a href="" class="location__nationality"
          >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >
        <div class="location__line"></div>
        <h3 class="location__mf">Monday - Friday</h3>
        <p class="location__time">06:00 AM - 10:00 PM</p>
        <h3 class="location__mf">Saturday - Sunday</h3>
        <p class="location__time location__second">08:00 AM - 16:00 PM</p>
        <div class="location__line"></div>
        <h3 class="location__phone">+61(0) 383 766 284</h3>
        <h3 class="location__mail">noreply@envato.com</h3>
      </li>
      <li class="location__item">
        <div class="location__logo location__second__logo">FOOD TRUCK</div>
        <p class="location__text">Los Angeles</p>
        <a href="" class="location__nationality"
          >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
        >
        <div class="location__line"></div>
        <h3 class="location__mf">Monday - Friday</h3>
        <p class="location__time">06:00 AM - 10:00 PM</p>
        <h3 class="location__mf">Saturday - Sunday</h3>
        <p class="location__time location__second">08:00 AM - 16:00 PM</p>
        <div class="location__line"></div>
        <h3 class="location__phone">+61(0) 383 766 284</h3>
        <h3 class="location__mail">noreply@envato.com</h3>
      </li>
      <li class="location__item">
        <div class="location__logo">CAFE</div>
        <p class="location__text">New York</p>
        <a href="" class="location__nationality"
          >726 Sterling Pl, Brooklyn, NY 11222, USA</a
        >
        <div class="location__line"></div>
        <h3 class="location__mf">Monday - Friday</h3>
        <p class="location__time">06:00 AM - 10:00 PM</p>
        <h3 class="location__mf">Saturday - Sunday</h3>
        <p class="location__time location__second">08:00 AM - 16:00 PM</p>
        <div class="location__line"></div>
        <h3 class="location__phone">+61(0) 383 766 284</h3>
        <h3 class="location__mail">noreply@envato.com</h3>
      </li>
    </ul>
    <ul class="location__button__list">
      <li class="locatio__button__item">
        <button class="location__button">Our Locations ></button>
      </li>
      <li class="location__button__item">
        <button class="location__button__second">Franchise ></button>
      </li>
    </ul>
  </div>
</section>
