<section class="product">
  <div class="product-intro-text">
    <p class="product-subtitle">100% NATURAL</p>
    <h3 class="product-title">PRODUCTS</h3>
  </div>

  <ul class="product-list">
    <li class="product-item">
      <!-- <img src="" alt="" /> -->
      <h3 class="product-label">ICE CREAM</h3>
      <p class="product-desc">
        Soft ice cream with a delicate taste. Made with milk, cream, sugar and
        natural stabilizer
      </p>
      <button class="product-btn">→</button>
    </li>
    <li class="product-item">
      <!-- <img src="" alt="" /> -->
      <h3 class="product-label">ICE COFFE</h3>
      <p class="product-desc">
        Fragrant invigorating drink created from 100% natural ingredients
        without the use of preservatives and flavor enhancers
      </p>
      <button class="product-btn">→</button>
    </li>
    <li class="product-item">
      <!-- <img src="" alt="" /> -->
      <h3 class="product-label">MILKSHAKES</h3>
      <p class="product-desc">
        Sweet drinks based on milk and ice cream, supplemented with syrups,
        fruits, berries and other sweets of your choice
      </p>
      <button class="product-btn">→</button>
      <!--they will force me to use their svgs-->
    </li>
  </ul>
</section>
